.container
{
    height: 60vh;
    width: 60vh; 
    background-color: #022905;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 1vh;
    border-radius: 10px;
    position: relative; 
    left:35% ; 
}
#winner
{
    background-color: #9fc4a2 ;
    height: 50px;
    width: 200px; 
    text-align: center;
    position : relative  ; 
    left: 43%  ; 
    bottom: 10px; 
    color: green; 
    font-size: 35px; 
}
.button 
{
    height: 18.5vh ; 
    width: 18.5vh;
    background-color: #ffffff ; 
    font-size: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    border: 1px solid black ; 
    box-shadow: 12px 0px 10px rgba(46, 117, 65,0.8);
    border-radius: 10px;
    color: red; 
}
body 
{
    background-color: #72a877;
    text-align: center;
}
h1
{
    color: white; 
    font-size: 40px ; 
}
.resetbtn
{
    background-color: #9fc4a2 ;
    height: 50px;
    width: 200px; 
    position : relative  ; 
    left: 43%  ; 
    top: 30px;
    color: rgb(128, 0, 53); 
    font-size: 35px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer; 
    border-radius: 10px;
    border: none;
}
.newbtn
{
    background-color: #9fc4a2 ;
    height: 50px;
    width: 200px; 
    position : relative  ; 
    left: 43%  ; 
    top: 30px;
    color: rgb(128, 0, 53); 
    font-size: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer; 
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}